body {
	background-color:black;
	background-image:
		radial-gradient(orange, rgba(255,148,54,.2) 2px, transparent 40px),
		radial-gradient(orange, rgba(255,148,54,.15) 1px, transparent 30px),
		radial-gradient(orange, rgba(255,148,54,.1) 2px, transparent 40px),
		radial-gradient(rgba(255,148,54,.4), rgba(255,0,0,.1) 2px, transparent 30px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
	background-position: 80px 40px, 135px 200px,75px 100px;
}

p {
	color: #FF9E00;
}


.header-logo {
	height: 60px;
	width: 60px;
	border-radius: 30px;
	float: left;
	margin-right: 10px;

}

#header-name {
	color: orange;
	font-family: Apple Chancery;
	font-size: 80px;	
}

#search {
	float: right;
	padding: 5px;
	margin: 10px 10px 0px 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FF9E00;
  	border-width: 3px;
  	border-color: #900C3F;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}

li a:hover {
    background-color: #FFED9E;
    color: #900C3F;
}

#main {
	height: 250px;
	width: 700px;
	border-width: 3px;
	border-style: double;
	border-color: orange;
	margin: 3px 3px 3px 3px;
	padding: 3px 3px 3px 3px;
	background-color: #FFED9E;
}

#main-header {
	color: #FF9E00;
	font-size: 25px;
	text-align: center;
}

.specialty {
	float: left;
}

.specialty-article {
	height: 350px;
	width: 275px;
	border-width: 3px;
	border-style: double;
	border-color: orange;
	margin: 3px 3px 3px 3px;
	padding: 3px 3px 3px 3px;
	background-color: #FFED9E;
}

#specialty-header {
	color: #FF9E00;
	font-size: 25px;
}


#specialty-article-button {
	height: 50px;
	width: 150px;
	background-color: #900C3F;
	color: white;
}



.popular {
	float: right;
	position: relative;
}

.popular-article {
	height: 150px;
	width: 200px;
	border-width: 3px;
	border-style: double;
	border-color: orange;
	margin: 3px 3px 3px 3px;
	padding: 3px 3px 3px 3px;
	background-color: #FFED9E;
}


.products {

}

.product-article {
	height: 250px;
	width: 700px;
	border-width: 3px;
	border-style: double;
	border-color: orange;
	margin: 3px 3px 3px 3px;
	padding: 3px 3px 3px 3px;
	background-color: #FFED9E;
}

.product-article-thumbnail {
	width: 150px;
	height: 200px;
	border-width: 3px;
	border-style: double;
	border-color: orange;
	margin: 3px 3px 3px 3px;
	padding: 3px 3px 3px 3px;
}

#product-article-button {
	background-color: orange;
}



footer {
	position: ;
}



/* **Notes:

/* Got background here: http://lea.verou.me/css3patterns/#starry-night
   Modified slightly: the colors & positions of the radial gradiants
   Original code below: */
/*body {
	background-color:black;
	background-image:
		radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
		radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
		radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
		radial-gradient(rgba(255,148,54,.4), rgba(255,0,0,.1) 2px, transparent 30px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}*/